@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadein {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 53.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #141414;
  font-family: Arial, serif; }

.heading-primary {
  color: #292929;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase; }
  .heading-primary__center {
    text-align: center;
    margin-bottom: 5rem; }

.heading-secondary {
  position: relative;
  color: #ed5a0c;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 2rem; }
  .heading-secondary:before {
    position: absolute;
    left: 0;
    top: 6.2rem;
    height: 0;
    width: 50px;
    content: '';
    border-top: 4px solid #292929; }
  .heading-secondary__center {
    text-align: center;
    margin-bottom: 5rem; }

.margin-bottom-tiny {
  margin-bottom: 2rem; }

.margin-bottom-small {
  margin-bottom: 5rem; }

.margin-bottom-medium {
  margin-bottom: 8rem; }

.margin-bottom-large {
  margin-bottom: 10rem; }

.margin-bottom-hugh {
  margin-bottom: 12rem; }

.margin-top-tiny {
  margin-top: 3rem; }

.margin-top-small {
  margin-top: 5rem; }

.margin-top-medium {
  margin-top: 8rem; }

.margin-top-large {
  margin-top: 10rem; }

.margin-top-hugh {
  margin-top: 12rem; }

.row {
  max-width: 140rem;
  margin: 0 auto;
  position: relative; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-1 {
    width: calc((100% - 5rem) / 1); }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }
  .row .col-4-of-4 {
    width: calc(4 * ((100% - 3 * 5rem) / 4) + 3 * 5rem); }

.header {
  font-family: 'JetBrains Mono', monospace;
  color: #d1d1d1;
  height: 60rem;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/54374663_2486450451425396_5256632034310225920_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100% !important;
  background-size: cover;
  padding-top: 20rem;
  text-align: center;
  z-index: 99;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  .header__title {
    color: #ed5a0c;
    margin-bottom: -3rem !important;
    padding-bottom: 0 !important;
    text-transform: uppercase;
    font-size: 9rem;
    font-weight: 700;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    .header__title-sub {
      letter-spacing: 1rem;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      color: #292929; }
  .header__text {
    margin-top: 2rem !important;
    font-size: 2rem;
    padding-bottom: 3rem;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.navigation {
  font-family: 'JetBrains Mono', monospace;
  width: 100%;
  z-index: 10000;
  position: fixed;
  background-image: linear-gradient(to right bottom, white, white);
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 2px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  .navigation__logo {
    height: 70px;
    display: inline-block; }
  .navigation__list {
    padding: 3rem 0 0 5rem;
    vertical-align: top;
    display: inline-block;
    list-style: none;
    width: 85%; }
  .navigation__item {
    padding-right: 2.5rem;
    display: inline-block; }
    .navigation__item--right {
      color: #ed5a0c;
      float: right; }
    .navigation__item:nth-last-child(2) {
      padding-right: 0; }
    .navigation__item:last-child {
      padding-right: 5.5rem; }
  .navigation__link {
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7rem; }
  .navigation__contact {
    padding: .5rem;
    display: inline-block;
    height: 5.6rem; }
    .navigation__contact:link, .navigation__contact:visited {
      margin: .7rem 2rem 0 0;
      color: #292929;
      text-decoration: none;
      border-radius: 0.3rem;
      vertical-align: top; }
    .navigation__contact--icon {
      border: 2px solid #292929;
      width: 4.5rem;
      height: 4.5rem;
      text-align: center;
      display: inline-block;
      font-size: 3.5rem !important;
      margin-top: .1rem;
      color: #fff;
      background-color: #ed5a0c;
      border-radius: 3px;
      padding-top: .2rem; }
      .navigation__contact--icon:hover {
        background-color: #292929; }
    .navigation__contact--text {
      margin-top: -.3rem;
      vertical-align: top;
      font-weight: 700;
      display: inline-block; }
      .navigation__contact--text-number {
        color: #292929; }

.button:link, .button:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  background-color: #ed5a0c;
  border: 0;
  border-radius: 3px;
  width: 21rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-right: 2rem;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.button__white {
  color: #292929 !important;
  background-color: #fff !important; }

.button__border {
  color: #292929 !important;
  background-color: transparent !important;
  border: 2px solid #ed5a0c !important; }

.about {
  position: relative !important;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #fdfdfd;
  z-index: 98;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .about__text {
    font-size: 2.3rem;
    width: 100%; }
  .about__photo {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    object-fit: cover;
    background-position: top; }
  .about__profile {
    font-size: 2.3rem;
    width: 100%; }
    .about__profile--photo {
      padding: 0 0 2rem 2rem;
      float: right;
      width: 50%; }

.divider {
  background-color: orangered;
  color: #fff;
  padding: 3.5rem 0 2.5rem 0;
  font-family: 'JetBrains Mono', monospace; }
  .divider__text {
    font-weight: 700; }
  .divider__phone:link, .divider__phone:visited {
    text-decoration: none;
    color: #292929;
    font-size: 3rem; }

.contact {
  position: relative;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #f7f7f7;
  z-index: 95;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .contact__text {
    font-size: 2.3rem; }
  .contact__box {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 60rem;
    position: relative; }
    .contact__box--title {
      font-family: 'JetBrains Mono', monospace;
      font-size: 2.5rem;
      padding-bottom: 3rem; }
      .contact__box--title-white {
        padding-bottom: 3rem;
        font-family: 'JetBrains Mono', monospace;
        font-size: 2.5rem;
        color: #fff; }
    .contact__box--details {
      color: #fff;
      display: block;
      margin-bottom: 5rem; }
      .contact__box--details-icon {
        display: inline-block;
        font-size: 7rem !important; }
      .contact__box--details-text {
        font-size: 2rem;
        padding: 1.8rem;
        vertical-align: top;
        display: inline-block; }
        .contact__box--details-text:first-child {
          margin-top: -2rem !important; }
    .contact__box--left {
      padding: 4rem;
      height: 100%;
      display: inline-block;
      width: 30%;
      background-color: #ed5a0c; }
    .contact__box--right {
      vertical-align: top;
      padding: 4rem;
      height: 100%;
      display: inline-block;
      width: 69%;
      background-color: #fff;
      margin-left: -4px !important; }

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #ed5a0c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #292929; }

.portfolio {
  position: relative;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #fdfdfd;
  z-index: 96;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .portfolio__text {
    font-size: 2.3rem; }
  .portfolio__box {
    width: 100%;
    height: 100%; }
    .portfolio__box--img {
      width: 100%; }

.services {
  position: relative;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #f4f4f4;
  z-index: 97;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .services__text {
    font-size: 2.3rem;
    padding-bottom: 3rem; }
  .services__item {
    padding-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    width: 45%;
    display: inline-block; }
  .services__box {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .services__box--img {
      width: 100%; }
    .services__box--text {
      font-size: 2rem;
      margin-bottom: 3rem; }
