@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadein {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 53.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #141414;
  font-family: Arial, serif; }

.heading-primary {
  color: #292929;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase; }
  .heading-primary__center {
    text-align: center;
    margin-bottom: 5rem; }

.heading-secondary {
  position: relative;
  color: #ed5a0c;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 2rem; }
  .heading-secondary:before {
    position: absolute;
    left: 0;
    top: 6.2rem;
    height: 0;
    width: 50px;
    content: '';
    border-top: 4px solid #292929; }
  .heading-secondary__center {
    text-align: center;
    margin-bottom: 5rem; }

.margin-bottom-tiny {
  margin-bottom: 2rem; }

.margin-bottom-small {
  margin-bottom: 5rem; }

.margin-bottom-medium {
  margin-bottom: 8rem; }

.margin-bottom-large {
  margin-bottom: 10rem; }

.margin-bottom-hugh {
  margin-bottom: 12rem; }

.margin-top-tiny {
  margin-top: 3rem; }

.margin-top-small {
  margin-top: 5rem; }

.margin-top-medium {
  margin-top: 8rem; }

.margin-top-large {
  margin-top: 10rem; }

.margin-top-hugh {
  margin-top: 12rem; }

@media (max-width: 950px) {
  .small-hidden {
    display: none !important; } }

.small-visible {
  display: none !important; }
  @media (max-width: 950px) {
    .small-visible {
      display: block !important; } }

.row {
  max-width: 140rem;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 1230px) {
    .row {
      padding: 0 2rem 0 2rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
    @media (max-width: 950px) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
    @media (max-width: 950px) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-1-of-3-images {
    width: calc((100% - 2 * 5rem) / 3); }
    .row .col-1-of-3-images:nth-child(3) {
      margin-right: 0; }
    @media (max-width: 650px) {
      .row .col-1-of-3-images {
        width: calc((100% - 5rem) / 2); }
        .row .col-1-of-3-images:nth-child(2) {
          margin-right: 0; }
        .row .col-1-of-3-images:nth-child(3) {
          margin-right: 5rem; }
        .row .col-1-of-3-images:nth-child(4) {
          margin-right: 0; } }
    @media (max-width: 150px) {
      .row .col-1-of-3-images {
        width: 100%; } }
  .row .col-1-of-3-text-work {
    width: calc((100% - 2 * 5rem) / 3); }
    @media (max-width: 1075px) {
      .row .col-1-of-3-text-work {
        width: 100% !important; } }
  .row .col-2-of-3-work {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
    @media (max-width: 1075px) {
      .row .col-2-of-3-work {
        width: 100%;
        margin-top: 4rem; } }
  .row .col-1-of-3-work {
    width: calc((100% - 2 * 5rem) / 3); }
    .row .col-1-of-3-work:nth-child(3) {
      margin-right: 0; }
    @media (max-width: 650px) {
      .row .col-1-of-3-work {
        width: calc((100% - 5rem) / 2); }
        .row .col-1-of-3-work:nth-child(2) {
          margin-right: 0; }
        .row .col-1-of-3-work:nth-child(3) {
          display: none; } }
    @media (max-width: 150px) {
      .row .col-1-of-3-work {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
    @media (max-width: 950px) {
      .row .col-2-of-3 {
        width: 100%; } }
  .row .col-1-of-2-review {
    width: calc((100% - 5rem) / 2); }
    .row .col-1-of-2-review:nth-child(2) {
      margin-right: 0; }
    .row .col-1-of-2-review:nth-child(3) {
      width: 100%; }
    @media (max-width: 950px) {
      .row .col-1-of-2-review {
        width: 100%; } }
  .row .col-1-of-3-contact {
    width: calc((100% - 2 * 5rem) / 3); }
    @media (max-width: 850px) {
      .row .col-1-of-3-contact {
        width: calc((100% - 5rem) / 2); }
        .row .col-1-of-3-contact:nth-child(2) {
          margin-right: 0; }
        .row .col-1-of-3-contact:nth-child(3) {
          width: 100%;
          margin-bottom: 2rem; } }
    @media (max-width: 450px) {
      .row .col-1-of-3-contact {
        width: 100%; }
        .row .col-1-of-3-contact:last-child {
          margin-bottom: 2rem; } }
  .row .col-1-of-3-footer {
    width: calc((100% - 2 * 5rem) / 3); }
    @media (max-width: 950px) {
      .row .col-1-of-3-footer {
        width: calc((100% - 5rem) / 2); }
        .row .col-1-of-3-footer:nth-child(2) {
          margin-right: 0; }
        .row .col-1-of-3-footer:nth-child(3) {
          margin-top: 4rem;
          clear: both; } }
    @media (max-width: 700px) {
      .row .col-1-of-3-footer {
        width: 100%; }
        .row .col-1-of-3-footer:first-child {
          margin-bottom: 4rem; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }
  .row .col-4-of-4 {
    width: calc(4 * ((100% - 3 * 5rem) / 4) + 3 * 5rem); }

#loading {
  display: none;
  position: fixed;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center; }

.header {
  font-family: 'JetBrains Mono', monospace;
  color: #d1d1d1;
  height: 60rem;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/54374663_2486450451425396_5256632034310225920_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100% !important;
  background-size: cover;
  padding-top: 20rem;
  text-align: center;
  z-index: 99;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  @media (max-width: 800px) {
    .header {
      height: 50rem; } }
  @media (max-width: 670px) {
    .header {
      height: 40rem; } }
  @media (max-width: 540px) {
    .header {
      height: 30rem; } }
  @media (max-width: 400px) {
    .header {
      height: 25rem; } }
  .header__title {
    color: #ed5a0c;
    margin-bottom: -3rem;
    padding-bottom: 0 !important;
    text-transform: uppercase;
    font-size: 9rem;
    font-weight: 700;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    .header__title-sub {
      letter-spacing: 1rem;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      color: #292929; }
      @media (max-width: 670px) {
        .header__title-sub {
          font-size: 2.5rem; } }
      @media (max-width: 540px) {
        .header__title-sub {
          margin-top: 2rem;
          font-size: 2rem; } }
      @media (max-width: 400px) {
        .header__title-sub {
          font-size: 1.5rem; } }
    @media (max-width: 800px) {
      .header__title {
        margin-top: -6rem; } }
    @media (max-width: 670px) {
      .header__title {
        margin-top: -8rem;
        font-size: 7rem; } }
    @media (max-width: 540px) {
      .header__title {
        margin-top: -10rem;
        font-size: 5rem; } }
    @media (max-width: 400px) {
      .header__title {
        margin-top: -13rem; } }
  .header__text {
    margin-top: 2rem !important;
    font-size: 2rem;
    padding-bottom: 3rem;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.footer {
  width: 100%;
  background-color: #292929;
  padding-top: 4rem;
  font-size: 2rem;
  color: #d1d1d1; }
  @media (max-width: 700px) {
    .footer {
      text-align: center; } }
  .footer__title {
    position: relative;
    margin-bottom: 2rem; }
    .footer__title:before {
      position: absolute;
      top: 5.2rem;
      height: 0;
      width: 50px;
      content: '';
      border-top: 4px solid #ed5a0c; }
  .footer__text {
    display: block;
    padding-bottom: 1rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    padding-bottom: 1rem; }
  @media (max-width: 700px) {
    .footer__facebook {
      width: 100%;
      margin-left: 5rem; } }
  .footer__icon {
    width: 3rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff; }
  .footer__bottom {
    border-top: 2px solid #494949;
    text-align: center;
    padding: 2rem; }

.navigation {
  font-family: 'JetBrains Mono', monospace;
  width: 100%;
  z-index: 10000;
  position: fixed;
  background-image: linear-gradient(to right bottom, white, white);
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 2px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  .navigation__logo {
    max-height: 70px;
    width: 14%;
    display: inline-block; }
    @media (max-width: 950px) {
      .navigation__logo {
        height: 50px; } }
  .navigation__list {
    padding: 3rem 0 0 5rem;
    vertical-align: top;
    display: inline-block;
    list-style: none;
    width: 85%; }
    @media (max-width: 950px) {
      .navigation__list {
        padding: 2rem 0 0 5rem; } }
    @media (max-width: 8200px) {
      .navigation__list {
        width: 75%; } }
    @media (max-width: 700px) {
      .navigation__list {
        display: none; } }
  .navigation__item {
    padding-right: 2.5rem;
    display: inline-block; }
    @media (max-width: 1050px) {
      .navigation__item {
        padding-right: 1.5rem; } }
    .navigation__item--right {
      color: #ed5a0c;
      float: right; }
      @media (max-width: 990px) {
        .navigation__item--right {
          margin-left: 5rem;
          float: none; } }
      @media (max-width: 770px) {
        .navigation__item--right {
          display: none; } }
    .navigation__item:nth-last-child(2) {
      padding-right: 0; }
    .navigation__item:last-child {
      padding-right: 5.5rem; }
      @media (max-width: 1200px) {
        .navigation__item:last-child {
          display: none; } }
  .navigation__link {
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7rem; }
    @media (max-width: 990px) {
      .navigation__link {
        font-size: 1.3rem; } }
    .navigation__link--active {
      color: #ed5a0c !important; }
  .navigation__contact {
    padding: .5rem;
    display: inline-block;
    height: 5.6rem; }
    .navigation__contact:link, .navigation__contact:visited {
      margin: .7rem 2rem 0 0;
      color: #292929;
      text-decoration: none;
      border-radius: 0.3rem;
      vertical-align: top; }
    .navigation__contact--icon {
      border: 2px solid #292929;
      width: 4.5rem;
      height: 4.5rem;
      text-align: center;
      display: inline-block;
      font-size: 3.5rem !important;
      margin-top: .1rem;
      color: #fff;
      background-color: #ed5a0c;
      border-radius: 3px;
      padding-top: .2rem; }
      .navigation__contact--icon:hover {
        background-color: #292929; }
    .navigation__contact--text {
      margin-top: -.3rem;
      vertical-align: top;
      font-weight: 700;
      display: inline-block; }
      .navigation__contact--text-number {
        color: #292929; }
  .navigation__mobile {
    display: none;
    position: absolute;
    top: 8px;
    right: 20px; }
    @media (max-width: 950px) {
      .navigation__mobile {
        display: block; } }
    .navigation__mobile--box {
      border-radius: 2px;
      padding: 1.1rem 1.7rem 1.1rem 1.7rem;
      background-color: #3a3a3a;
      color: #fff;
      display: none; }
      .navigation__mobile--box:first-child {
        margin-right: 2rem; }
      @media (max-width: 770px) {
        .navigation__mobile--box:first-child {
          display: inline-block; } }
      @media (max-width: 700px) {
        .navigation__mobile--box:first-child {
          margin-right: 1rem; }
        .navigation__mobile--box:last-child {
          display: inline-block; } }

.button:link, .button:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  background-color: #ed5a0c;
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-right: 2rem;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-out; }
  @media (max-width: 540px) {
    .button:link, .button:visited {
      font-size: 1.5rem; } }

.button__white {
  color: #292929 !important;
  background-color: #fff !important; }

.button__border {
  color: #292929 !important;
  background-color: transparent !important;
  border: 2px solid #ed5a0c !important; }

.about {
  position: relative !important;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #fdfdfd;
  z-index: 98;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .about__text {
    font-size: 2.3rem;
    width: 100%; }
  .about__video {
    position: relative;
    padding-top: 56.25%; }
    .about__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; }
      @media (max-width: 950px) {
        .about__video iframe {
          padding-top: 3.5rem; } }
  .about__photo {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    object-fit: cover;
    background-position: top; }
    @media (max-width: 950px) {
      .about__photo {
        padding-top: 3.5rem; } }
  .about__profile {
    font-size: 2.3rem;
    width: 100%; }
    .about__profile--photo {
      padding: 2rem 0 2rem 2rem;
      float: right;
      width: 50%; }

.divider {
  background-color: orangered;
  color: #fff;
  padding: 3.5rem 0 2.5rem 0;
  font-family: 'JetBrains Mono', monospace; }
  .divider__text {
    font-weight: 700; }
  .divider__phone:link, .divider__phone:visited {
    text-decoration: none;
    color: #292929;
    font-size: 3rem; }

.contact {
  position: relative;
  width: 100%;
  padding: 8rem 0 18rem 0;
  background-color: 1 #fdfdfd;
  z-index: 80;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .contact__top {
    background-color: #fff;
    color: #292929;
    display: block;
    width: 100%;
    padding: 2rem 4rem 5rem 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid #efefef;
    height: 100%; }
    @media (max-width: 850px) {
      .contact__top {
        padding-bottom: 8rem; } }
    @media (max-width: 450px) {
      .contact__top {
        padding-bottom: 11.5rem; } }
    .contact__top--icon {
      display: inline-block;
      font-weight: 700;
      padding-right: 1rem; }
    .contact__top--address {
      display: inline-block;
      color: #ed5a0c; }
    .contact__top--phone {
      display: inline-block; }
      .contact__top--phone:link, .contact__top--phone:visited {
        color: #ed5a0c;
        text-decoration: none; }
    .contact__top--email {
      display: inline-block; }
      .contact__top--email:link, .contact__top--email:visited {
        color: #ed5a0c;
        text-decoration: none; }
  .contact__bottom {
    border-radius: 4px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }

label {
  display: block;
  clear: both; }

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #292929;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #ed5a0c; }

.portfolio {
  position: relative;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #fdfdfd;
  z-index: 96;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .portfolio__text {
    font-size: 2.3rem; }
  .portfolio__box {
    width: 100%;
    height: 100%; }
    .portfolio__box--img {
      width: 100%; }

.services {
  position: relative;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #f4f4f4;
  z-index: 97;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .services__text {
    font-size: 2.3rem;
    padding-bottom: 3rem; }
  .services__list {
    margin-bottom: 3.5rem; }
    @media (max-width: 950px) {
      .services__list {
        text-align: center; } }
  .services__item {
    padding-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    width: 45%;
    display: inline-block; }
    @media (max-width: 950px) {
      .services__item {
        width: 32%; } }
    @media (max-width: 575px) {
      .services__item {
        width: 45%; } }
  .services__box {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .services__box--img {
      width: 100%; }
    .services__box--text {
      font-size: 2rem;
      margin-bottom: 3rem; }

.review {
  position: relative;
  width: 100%;
  padding: 8rem 0 8rem 0;
  background-color: #f4f4f4;
  z-index: 90;
  border-bottom: 2px solid #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px; }
  .review__box {
    width: 100%;
    margin-bottom: 4rem;
    background-color: #fff;
    border-radius: 3px;
    padding: 2.5rem;
    min-height: 40rem; }
    .review__box--icon {
      width: 7rem;
      height: 7rem;
      background-color: orange;
      display: inline-block;
      text-align: center;
      font-size: 3rem;
      border-radius: 50px;
      padding-top: 1.2rem;
      color: #fff;
      margin-bottom: 3rem; }
      .review__box--icon-green {
        background-color: #01bda3; }
      .review__box--icon-orange {
        background-color: #f44236; }
      .review__box--icon-grey {
        background-color: #5e7c8a; }
    .review__box--name {
      padding-top: 0.2rem;
      font-size: 2.3rem;
      font-weight: 700;
      display: inline-block;
      vertical-align: top;
      padding-left: 2rem; }
      .review__box--name-img {
        height: 2rem;
        display: block; }
    .review__box--text {
      font-size: 2.3rem; }
