.navigation{
  width: 100%;
  //background-color: #303030;
  //background-image: linear-gradient(to right bottom, rgba(#303030, 0.75), rgba(#303030, 1));
  background-image: linear-gradient(to right bottom, rgba($color-white, 0.1), rgba($color-white, 0.3));

  &__logo{
    padding: 1rem 0 0.5rem 0;
    height: 50px;
    display: inline-block;
    background-color: $color-primary;
    padding:1rem;
  }


  &__list{
    padding: 1.8rem 2rem 0 5rem;
    vertical-align: top;
    display: inline-block;
    list-style: none;
  }

  &__item{
    padding-right: 2.5rem;
    display: inline-block;
  }

  &__link{
    //color: $color-white;
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7rem;
  }

  &__contact{
    &:link,
    &:visited{
      margin: .7rem 2rem 0 0;
      color: $color-primary;
      text-decoration: none;
      border-radius: 0.3rem;
      vertical-align: top;
    }
    //padding: 0 0 0 0.8rem;
    padding: .5rem;
    display: inline-block;
    height: 5.6rem;

    &:hover{
      background-color: $color-white-2;
    }
    &--icon{
      border: 2px solid $color-primary;
      width: 4.5rem;
      height: 4.5rem;
      text-align: center;
      display: inline-block;
      font-size: 3.5rem !important;
      margin-top: .1rem;
      color: $color-secondary;
      border-radius: 3px;
      padding-top: .2rem;
    }
    &--text{
      margin-top: -.3rem;
      vertical-align: top;
      font-weight: 700;
      display: inline-block;
      &-number{
        color: $color-secondary;
      }
    }
  }
}
