.review{
    position: relative;
    width: 100%;
    padding: 8rem 0 8rem 0;
    background-color: #f4f4f4;
    z-index: 90;
    border-bottom: 2px solid #efefef;
    box-shadow: rgba(50, 50, 93, 0.25) 0 3px 27px -5px;

    &__box{
        width: 100%;
        margin-bottom: 4rem;
        background-color: $color-white;
        border-radius: 3px;
        padding: 2.5rem;
        min-height: 40rem;
        
        &--icon{
            width: 7rem;
            height: 7rem;
            background-color: orange;
            display: inline-block;
            text-align: center;
            font-size: 3rem;
            // font-weight: 700;
            border-radius: 50px;
            padding-top:1.2rem;
            color: $color-white;
            margin-bottom: 3rem;

            &-green{
                background-color: #01bda3;
            }
            &-orange{
                background-color: #f44236;
            }
            &-grey{
                background-color: #5e7c8a;
            }
        }

        &--name{
            padding-top: 0.2rem;
            font-size: 2.3rem;
            font-weight: 700;
            display: inline-block;
            vertical-align: top;
            padding-left: 2rem;

            &-img{
                height: 2rem;
                display: block;
            }
        }

        &--text{
            font-size: 2.3rem;
        }
    }
    
  }