.heading-primary{
  color: $color-primary;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;

  @media(max-width: 1000px){
    font-size: 4rem;
  }
  @media(max-width: 800px){
    font-size: 3.5rem;
  }
  @media(max-width: 600px){
    font-size: 3rem;
  }

  &__center{
    text-align: center;
    margin-bottom: 5rem;
  }
}

.heading-secondary{
  position: relative;
  color: $color-secondary;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 2rem;

  @media(max-width: 1000px){
    font-size: 3rem;
  }
  @media(max-width: 800px){
    font-size: 2.5rem;
  }
  @media(max-width: 600px){
    font-size: 2rem;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 6.2rem;
    height: 0;
    width: 50px;
    content: '';
    border-top: 4px solid $color-primary;
    @media(max-width: 1000px){
      top: 4.7rem;
    }
    @media(max-width: 600px){
      top: 3.7rem;
    }

  }

  &__center{
    text-align: center;
    margin-bottom: 5rem;
  }
}

//.heading-secondary{
//    color: #901da0;
//    text-transform: uppercase;
//    backface-visibility: hidden;
//    font-size: 3.5rem;
//    display: block;
//    text-align: center;
//    letter-spacing: .5rem;
//
//    &--white{
//        color: $color-white !important;
//    }
//}
//
//.heading-tertiary{
//    color: $color-grey-dark-5;
//    text-transform: uppercase;
//    backface-visibility: hidden;
//    font-size: 1.9rem;
//    display: block;
//
//    &-center{
//        @media(max-width: 1200px){
//            text-align: center;
//        }
//    }
//}
//
//input[type=text],input[type=email], textarea, select {
//    width: 100%;
//    padding: 12px 20px;
//    margin: 8px 0;
//    display: inline-block;
//    border: 1px solid #ccc;
//    border-radius: 4px;
//    box-sizing: border-box;
//  }
//
//  input[type=submit] {
//    width: 100%;
//    // background-color: #4CAF50;
//    background-color: $color-orange;
//    color: white;
//    padding: 14px 20px;
//    margin: 8px 0;
//    border: none;
//    border-radius: 4px;
//    cursor: pointer;
//  }
//
//  input[type=submit]:hover {
//    background-color: #45a049;
//  }